<div *ngIf="contentItemInputValue">
    <!-- Any code inside the wrapping div is only displayed on the page if contentItemInputValue exists and has a valid value -->
    <h2>{{contentItemInputValue.title}}</h2>
    <img [src]="contentItemInputValue.imgSrc" (click)="imageClicked()">
    <!-- I use innerHTML here juts in case I want to use HTML syntax in my description later -->
    <p [innerHTML]="contentItemInputValue.description"></p>
    <!-- Grabbed the rest of this code from my old ContentList toString in assignment 1 -->
    <!-- and modified it to be Angular syntax instead -->
    <div class="meta-data">
        <span class="author">{{contentItemInputValue.author}}</span>
        <span class="type">{{contentItemInputValue.type}}</span>
    </div>
    <div class="tags">
        <!-- Since the tags property is an array, we use an ngFor to display all of them -->
        <span *ngFor="let tag of contentItemInputValue.tags">{{tag}}</span>
    </div>
  </div>