<!-- one-way binding to pass each IContent item data from the @input of the content list item class file -->
<!-- We can use a ternary operator to decide what class to apply -->
<!-- <app-content-list-item
  *ngFor="let singleVideoGame of videoGameArray; even as thisVideoGameIsEven; odd as thisVideoGameIsOdd"
  [contentItemInputValue]="singleVideoGame"
  [class]="thisVideoGameIsEven ? 'even-game' : 'odd-game'"></app-content-list-item> -->

<!-- We can also use an attribute built into angular for more flexibility, called ngClass -->
<app-content-list-item
  *ngFor="let singleVideoGame of pokemonArray; even as thisVideoGameIsEven; odd as thisVideoGameIsOdd"
  [contentItemInputValue]="singleVideoGame"
  [ngClass]="{'even-game': thisVideoGameIsEven, 'odd-game': thisVideoGameIsOdd}"></app-content-list-item>